process {
    withName:cutadapt {
        executor='slurm'
        queue="${params.queue}"
        cpus=10
        memory='20GB'
        time='4h'
        container = "${params.image_folder}cutadapt-4.5.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir -B ${params.cutadapt_raw_data}:/raw_data"
    }
}

